<!DOCTYPE html>
<html>
    <head>
        <title>EasySystems - Software Online de Contabilidad y RRHH</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/css.css">
        <link rel="stylesheet"href="css/bootstrap.min.css">
        <style>
            .slider{
                background-image: url("app\views\contacto\img\Easysystems-portada-principal-2.jpg");
                background-size: cover;
                background-position: center;
                height: 100px;
            }
        </style>
    </head>
    <body>
        <header id="MiniContacto">
            Escríbenos: 𝘃𝗲𝗻𝘁𝗮𝘀@𝗲𝗮𝘀𝘆𝘀𝘆𝘀𝘁𝗲𝗺𝘀.𝗰𝗹
            Llámanos: (2) 29291592
        </header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="img/Logosystem.png" id="logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
              <div class="nav">
                <ul class="nav" id="SeparacionNav">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Contabilidad</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Recursos Humanos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">ERP + FE</a>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary">Contactanos</button>
                    </li>
                    </ul>
              </div>
            </div>
          </nav>

    <section>
        <div id="Portada" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="img/Easysystems-portada-principal-2.jpg" class="d-block w-100" alt="...">
                  <div class="CarouselCustomCaption d-none d-md-block">
                    <p style="font-size: 30px;">Es el momento de llevar</p> 
                    <h5 style="font-size: 50px;">TU CONTABILIDAD MÁS FÁCIL QUE NUNCA</h5>
                    <button type="button" class="btn btn-primary">Ver Planes</button>
                  </div>
              </div>
            </div>
          </div>
    </section>
    

    <div class="container py-5">
      <div class="row aling-items-center">
        <div class="col-md-6">
          <img src="img/Recurso-19.png">
          <br><br><br><br>
          <img src="img/contabilidad-como-nunca_Mesa-de-trabajo-1.png">
          <br><br>
          <p style="font-size: 15px;">Plataforma pensada para todas aquellas entidades    que deben<br> llevar la contabilidad tanto de personas físicas como jurídicas.<p></p>
          <img src="img/vinculo-sii_Mesa-de-trabajo-1.png">
          <br><br>
          <p style="font-size: 15px;">Es una solución 100% web sin aplicaciones de escritorio lo que <br>aumenta su velocidad y accesibilidad ademas de generar la <br>importación automática de los libros de compra y venta desde <br>el Servicio de Impuestos Internos.</p>
          <img src="img/migracion-de-datos2_Mesa-de-trabajo-1.png">
          <br><br>
          <p style="font-size: 15px;">Formatos estándar adaptado para la importación y<br> exportación de datos para su presentación.</p>

      </div>
      <div class="col-md-6">
      <img src="img/pantalla-contabilidad.png" class="img-fluid" alt="" width="800px">
     
    </div>
      </div>
    </div>

     
    <div class="container py-5">
      <div class="row aling-items-center">
        <div class="col-md-6">
          <img src="img/Pantalla-recursos-humanos.png" class="img-fluid" alt="" width="800px">
          

      </div>
      <div class="col-md-6">
      </br> <img src="img/Recurso-22.png" >
      <br><br><br>
      <img src="img/administracion-personal_Mesa-de-trabajo-1.png">
      <br><br>
      <p style="font-size: 15px;">Plataforma que colabora con la administración del personal<br> gracias a ser un sistema 100% online, versátil y completo,<br> permitiendo a los usuarios ingresar, visualizar y exportar<br> información tanto global como individual de cada empleado.<p>
        <img src="img/VINCULO-CON-SISTEMA_Mesa-de-trabajo-1.png">
        <br><br>
        <p style="font-size: 15px;">Además, el sistema puede vincularse con el sistema CME<br> exportando los datos necesarios para hacer el pago y registro<br> en los balances de las empresas.</p>
        <img src="img/modulos-complementarios_Mesa-de-trabajo-1.png">
        <br><br>
        <p style="font-size: 15px;">Adicionalmente a estas funcionalidades puede solicitar un<br> modulo complementario para el trabajador con el fin de que<br> este tenga acceso a documentación, certificados e <br>información.</p>
     
    </div>
      </div>
    </div>
    
    <div class="container py-5">
      <div class="row aling-items-center">
        <div class="col-md-6">
        </br> <img src="img/erp.png">
        <br><br><br>
        <img src="img/administracion-de-inventario_Mesa-de-trabajo-1.png">
        <br><br>
        <img src="img/emision-de-cotizaciones_Mesa-de-trabajo-1.png">
        <br><br>
        <img src="img/controles-de-venta_Mesa-de-trabajo-1.png">
        <br><br>
        <img src="img/informes-gerenciales_Mesa-de-trabajo-1.png">
          

      </div>
      <div class="col-md-6">
        <img src="img/Pantalla-verde.png" class="img-fluid" alt="" width="800px">
     
     
    </div>
      </div>
    </div>

<section>
    <div id="correr4">
        <h2 style="font-size: 50px;">Nuestros Planes</h2>
        <p>Todos nuestros precios son de planes anuales y van + IVA</p>
    </div>
  </section>
 <br><br>
<section>
  <div id="cardcenter">
<div class="container mt-5 pt-5" >
 
  <div class="card1" style="width: 18rem;">
    <div id="cardd1">
      <br>
      <h3>Contabilidad</h3>
    <h6>Multi Empresas</h6>
    <br>
  </div>
    <div class="card-body">
      <div id="uf1">
        <h5>UF</h>
        </div>
      <h1 class="card-title">15</h1>
      <h6>PAGO ANUAL</h6>  
      <br>
      <h6>50 Empresas</h6>
      <h6>2 Usuarios</h6>
      <br><br>
      <a href="#" class="btn_1 ">QUIERO COTIZAR</a>
    
    </div>
  </div>
       <div class="card2" style="width: 18rem;">
        <div id="cardd2">
         <br>
          <h3>Recursos Humanos</h3>
            <h6>Remuneraciones</h6>
           <br>
  </div>
          <div class="card-body">
      <div id="uf2">
         <h5>UF</h>
      </div>
      <h1 class="card-title">15</h1>
         <h6>PAGO ANUAL</h6>  
         <br>
           <h6>50 Empresas</h6>
             <h6>2 Usuarios</h6>
             <h6>200 Trabajadores</h6>
         <br><br>
      <a href="#" class="btn_1 ">QUIERO COTIZAR</a>
    </div>
  </div>
  <div class="card3" style="width: 18rem;">
    <div id="cardd3">
      <br>
      <h3 >Contabilidad + Recursos <br> Humanos</h3>
    <h6>Paquete mixto</h6>
    <br>
  </div>
    <div class="card-body">
      <div id="uf3">
        <h5>UF</h>
        </div>
      <h1 class="card-title">20</h1>
            <h6>PAGO ANUAL</h6>  
                <br>
              <h6>50 Empresas</h6>
            <h6>2 Usuarios</h6>
           <h6>200 Trabajadores</h6>
      <br><br>
      <a href="#" class="btn_3 ">QUIERO COTIZAR</a>
    
    </div>
  </div>
       <div class="card4" style="width: 18rem;">
            <div id="cardd4"> 
           <br>
              <h3>ERP+FE</h3>
       <h6>Administración</h6>
     <br>
    </div>
    <div class="card-body">
         <div id="uf4">
             <h5>UF</h>
        </div>
         <h1 class="cardd">20</h1>
             <h6>PAGO ANUAL</h6>  
               <br>
                 <h6>Sujeto a evaluación</h6>
                   <br><br>
     
      <a href="#" class="btn_1 ">QUIERO COTIZAR</a>
            </div>
          </div>
        </div>
      </div>
    </section>






<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    



    </body>
</html>