<!DOCTYPE html>
<html>
    <head>
        <title>EasySystems - Software Online de Contabilidad y RRHH</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/css.css">
        <style>
            .slider{
                background-image: url("app\views\contacto\img\Easysystems-portada-principal-2.jpg");
                background-size: cover;
                background-position: center;
                height: 100px;
            }
        </style>
    </head>
    <body>
        <header id="MiniContacto">
            Escríbenos: 𝘃𝗲𝗻𝘁𝗮𝘀@𝗲𝗮𝘀𝘆𝘀𝘆𝘀𝘁𝗲𝗺𝘀.𝗰𝗹
            Llámanos: (2) 29291592
        </header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="img/Logosystem.png" id="logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
              <div class="nav">
                <ul class="nav" id="SeparacionNav">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Contabilidad</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Recursos Humanos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">ERP + FE</a>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary">Contactanos</button>
                    </li>
                    </ul>
              </div>
            </div>
          </nav>

    <section>
        <div id="Portada" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="img/Easysystems-portada-principal-2.jpg" class="d-block w-100" alt="...">
                  <div class="CarouselCustomCaption d-none d-md-block">
                    <p style="font-size: 30px;">Es el momento de llevar</p> 
                    <h5 style="font-size: 50px;">TU CONTABILIDAD MÁS FÁCIL QUE NUNCA</h5>
                    <button type="button" class="btn btn-primary">Ver Planes</button>
                  </div>
              </div>
            </div>
          </div>
    </section>
    <br><br><br><br>

    <section >
          <div class="carousel-item active">
            <div id="correr">
              <img src="img/pantalla-contabilidad.png" width="630" height="630"  style="float: right;">
            </div>
                  <div class="CarouselCustomCaption1 d-none d-md-block">
                  <img src="img/Recurso-19.png">
                  <br><br>
                  <img src="img/contabilidad-como-nunca_Mesa-de-trabajo-1.png">
                <br><br>
            <div>
            <p style="font-size: 15px;">Plataforma pensada para todas aquellas entidades    que deben<br> llevar la contabilidad tanto de personas físicas como jurídicas.<p>
              <br>

              <img src="img/vinculo-sii_Mesa-de-trabajo-1.png">
                <br><br>
                  <div>
                  <p style="font-size: 15px;">Es una solución 100% web sin aplicaciones de escritorio lo que <br>aumenta su velocidad y accesibilidad ademas de generar la <br>importación automática de los libros de compra y venta desde <br>el Servicio de Impuestos Internos.</p>
                  <br>
                    <img src="img/migracion-de-datos2_Mesa-de-trabajo-1.png">
        
            <br><br>
            <div>
              <p style="font-size: 15px;">Formatos estándar adaptado para la importación y<br> exportación de datos para su presentación.</p>
                   </div>
                  </div>
               </div>
            </div>
          </div>
       </div>
     </section>
     <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
     
     <section >
      <div class="carousel-item active">
        <div id="correr1">
          <img src="img/Pantalla-recursos-humanos.png" width="670" height="590"  style="float: left;">
              <div class="CarouselCustomCaption2 d-none d-md-block">
                </br> <img src="img/Recurso-22.png" >
                  <br><br>
            <img src="img/administracion-personal_Mesa-de-trabajo-1.png">
            <br><br>
              <div>
                 <p style="font-size: 15px;">Plataforma que colabora con la administración del personal<br> gracias a ser un sistema 100% online, versátil y completo,<br> permitiendo a los usuarios ingresar, visualizar y exportar<br> información tanto global como individual de cada empleado.<p>
            </div>
                 <br>
                 <img src="img/VINCULO-CON-SISTEMA_Mesa-de-trabajo-1.png">
                 <br>
              <div>
                  <p style="font-size: 15px;">Además, el sistema puede vincularse con el sistema CME<br> exportando los datos necesarios para hacer el pago y registro<br> en los balances de las empresas.</p>
                  <br>
                  <img src="img/modulos-complementarios_Mesa-de-trabajo-1.png">
                  <br><br>
              <div>
                  <p style="font-size: 15px;">Adicionalmente a estas funcionalidades puede solicitar un<br> modulo complementario para el trabajador con el fin de que<br> este tenga acceso a documentación, certificados e <br>información.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
      
     </section>
     <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
     <section >
      <div class="carousel-item active">
        <div id="correr3">
          <img src="img/Pantalla-verde.png" width="650" height="400"  style="float: right;">
        </div>
              <div class="CarouselCustomCaption1 d-none d-md-block">
              <img src="img/erp.png">
              <br><br>
              <img src="img/administracion-de-inventario_Mesa-de-trabajo-1.png">
              <br><br>
              <img src="img/administracion-de-inventario_Mesa-de-trabajo-1.png">
              <br><br>
              <img src="img/administracion-de-inventario_Mesa-de-trabajo-1.png">
              <br><br>
              <img src="img/administracion-de-inventario_Mesa-de-trabajo-1.png">
            <br><br>
                <div>
                    <br>
               <br><br>
            </div>
        </div>
     </div>
  </section>
    
    </body>
</html>
    

    </body>
</html>