html{
  scroll-behavior: smooth;
}

#logo{
    width: 125px;
}

.portada{
  background-image: url('../img/Easysystems-portada-principal-2.jpg');
  background-size: cover;
  background-position: center;
  height: 50vmax;
  
}

.fondo{
  background-image: url('../img/fondo-2.jpg');
  background-size: cover;
  background-position: center;
  height: 60vw;
  text-align: center;
}

#MiniContacto{
    background-color: rgb(47, 89, 143);
    color: white;
    text-align: right;
    padding: 10px 30px;
}

#SeparacionNav{
    padding: 20px;
}

#seccion{
  margin: 10px 0px;
}

#SeparacionNav{
    padding: 20px;
}

#portada h1{
  font-size: 2vw;
}

#portada h4{
  font-size: 4vw;
}

#responsive h1{
  font-size: 3vw;
}
#responsive p{
  font-size: 2vw;
}

#formulario{
  margin-left: auto;
  margin-right: auto;
}

#formulario h1{
  font-size: 45px;
}

  #correr{
    
    position: absolute;
    right: 10%;
  }
  .CarouselCustomCaption3 {

    position: absolute;
    right: 60%;
  }
  #correr3{
    
    position: absolute;
    right: 10%;
  }
  #correr4{
    
    position: absolute;
    right: 40%;
  }
  
  .card1{
    position: absolute;
    right: 73%;
  }
  .card2{
    position: absolute;
    right: 50%;
  }
  .card3{
    position: absolute;
    right: 27%;
  }
  .card4{
    position: absolute;
    right: 4%;
  }
  #cardd1{
    text-align: center;
    background-color: #095589;
    color: white;
    border-radius: 5px;
    
  }
  #cardd2{
    text-align: center;
    background-color: #095589;
    color: white;
    border-radius: 5px;
    
  }
  #cardd3{
    text-align: center;
    background-color: #098789;
    color: white;
    border-radius: 5px;
    
  }
  #cardd4{
    text-align: center;
    background-color: #095589;
    color: white;
    border-radius: 5px;
    
  }
  .card-body{
    text-align: center;
  }
  .btn_1{
    color: white;
background-color: #095589;
border-radius: 30px;
border-width: 1px;
padding: 5px 10px;

  }
  .btn_3{
    color: white;
background-color: #098789;
border-radius: 30px;
border-width: 1px;
padding: 5px 10px;

  }
  .card-body{
    background-color: whitesmoke;
    border-radius: 5px;
  }
  #uf1{
    position: absolute;
    right: 59%;
  }
  #uf2{
    position: absolute;
    right: 58%;
  }
  #uf3{
    position: absolute;
    right: 59%;
  }
  #uf4{
    position: absolute;
    right: 59%;
  }

